/*header {
background-color:green;
  float: left;
margin: -200px;
width: 100%;
}*/
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  color: white;
  background-color: rgb(77, 77, 77);
}
header {
  background-color: grey;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  text-align: centre;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
main {
  padding: 0 24px;
  margin-top: -13%;
  margin-bottom: 2%;
}
.frstbox {
  display: flex;
  gap: 60px;
}

a {
  text-decoration: none;
  color:aliceblue ;
}

h1 {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 0px;
}
.bb {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: chocolate;
}
img {
  margin-top: 200px;
}

.skll {
  padding-top: 0px;
}
.contacts {
  text-align: ceneter;
}
footer {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
hr {
  color:whitesmoke;
  width: 100%;
}
#lastp {
  padding: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    position: absolute;
    text-align: center;
    font-size: larger;
}
